<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme.Light">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/BaseTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cymf.humanbehaviorcollector.SlideActivity" />
        <activity android:name="com.cymf.humanbehaviorcollector.RectangleActivity" />
        <activity android:name="com.cymf.humanbehaviorcollector.BannerActivity" />
        <activity android:name="com.cymf.humanbehaviorcollector.SmallActivity" />
        <activity android:name="com.cymf.humanbehaviorcollector.MultiActivity" />
        <activity android:name="com.cymf.humanbehaviorcollector.WebActivity" />
    </application>

</manifest>